[submodule "libs/HashTable"]
	path = libs/HashTable
	url = git@github.com:Iprime111/HashTable.git

[submodule "libs/Buffer"]
	path = libs/Buffer
	url = git@github.com:Iprime111/Buffer.git
[submodule "libs/tracy"]
	path = libs/tracy
	url = https://github.com/wolfpld/tracy.git
